.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-background);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e5e7eb;
}

.navbar-logo h1 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--color-text-dark);
}

.navbar-actions app-button {
  margin-left: 0.5rem;
}
